@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans";
  font-size: 20px;
}

.container {
  margin: 100px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

@media screen and (max-width: 1040px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

/* Guide */
.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.guide .content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.guide .close-guide {
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
}

.guide ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 32px;
}

.guide a {
  text-decoration: none;
  color: black;
}

.guide .button-download {
  background: none;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.guide .button-download img {
  width: 12px;
  height: 22px;
}

/* presentation */
.presentation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation .content {
  width: 100%;
  display: flex;
}

.presentation img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 32px;
}

.presentation .who-i-am {
  width: 100%;
}

.presentation h1 {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

.presentation h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.presentation .external-links {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.presentation .external-links a {
  text-decoration: none;
  color: black;
}

/* left-bar */
/* #contact */
#contact ul {
  margin: 0;
  list-style-type: none;
  font-size: 20px;
}

#contact a {
  text-decoration: none;
  color: black;
}

/* #skills */
#skills .topic {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

#skills .description {
  margin: 0;
  font-size: 20px;
}
